<h2>Add a comment:</h2>
<%= form_with(model: [ @comment ], local: true) do |form| %>
<%= form.hidden_field :post_id, :value => params[:id] ? Post.find(params[:id]).id : Post.find(params[:post_id]).id %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit 'Save comment' %>
  </p>
<% end %>